<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
<div class="row topPage ">

  <div class="msgBox">
    <p class="title">
　　く(｀･ω･´) <トップページだよ
    </p>
    <%=link_to 'インデックス',pictures_path, class:"btn btn-default btn-sm btn-success " %>
  </div>
</div>
</section>
