
<script type="text/javascript">
$(function() {
  $('#picture_image').uploadThumbs({
    position: '#preview1'
  });
});
</script>

<div class="modal-dialog">
  <div class="modal-content">
    てすと
  </div>
</div>
