// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flash {
  color: white;
  padding-top: 10px;
}

//トップページ
.topPage{
  position: relative;
  &img{width:100%;}
  .msgBox{
    @include myFont;
    position: absolute;
    top: 40%;
    left: 40%;
    color: white;
    font-weight: bold;
    margin:0;
    padding:0;
    .title{
      @include fz_vw(13);
      }
    .content{
      @include fz_vw(6);
      @include acceptBR;
    }
  }
}
